body {
  font-family: sans-serif;
  font-size: 13px;
}

.header {
  font-size: 15px;
  font-weight: bold;
}

#testresults {
  font-size: 11px;
}

#testresults div {
  padding: 10px 0px 0px 20px;
  font-size: 12px;
  font-weight: bold;
}

#testresults ul {
  margin: 0px;
}

.pass {
  color: #080;
}

.fail {
  color: #C00;
  font-weight: bold;
}
