body {
  font-family: sans-serif;
  font-size: 13px;
  margin: 10px 0px 10px 10px;
}

.header {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.link {
  color: darkred;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-left: 30px;
}

#testresults {
  font-size: 11px;
}

#testresults div {
  padding: 10px 0px 0px 20px;
  font-size: 12px;
  font-weight: bold;
}

#testresults ul {
  margin: 0px;
}

.pass {
  color: #080;
}

.fail {
  color: #C00;
  font-weight: bold;
}
